[Main]
# Change logFile to the location of your minecraft log file if auto doesnt work. 
# For exaple my minecraft log file is at "C:\Users\turtl\Software\MultiMC\instances\1.12.2\.minecraft\logs\latest.log"
# Because this isent the defult file location of the minecraft log file auto dosent work.
logFile    = auto

#logFile     = C:\Users\turtl\Software\MultiMC\instances\1.12.2\.minecraft\logs\latest.log

index1      = 50 
index2      = 500
text        = Position in queue:

doClear     = True
delay       = 5
toastDelay  = 30